:host {
  display: block;
  width: 100%;
  height: 100%;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%; // Fill parent (mat-grid-tile)
  display: block;
}

canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
