<app-header></app-header>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-form-field class="main-team-select">
      <mat-label>Asset Team</mat-label>
      <mat-select
        [value]="appState.selectedTeam$ | async"
        (selectionChange)="onTeamSelect($event.value)"
      >
        <mat-option *ngFor="let team of teams" [value]="team.asset_team_nm">
          {{ team.asset_team_nm }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="appState.selectedTeam$ | async as selectedTeam">
      <mat-label>Field</mat-label>
      <mat-select
        [value]="appState.selectedField$ | async"
        (selectionChange)="onFieldSelect($event.value)"
      >
        <mat-option *ngFor="let field of fields" [value]="field.field_nm">
          {{ field.field_nm }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-nav-list *ngIf="appState.selectedTeam$ | async as selectedTeam">
      <a mat-list-item [routerLink]="['/teamOverview', selectedTeam]" routerLinkActive="active-link">
        Team Overview
      </a>
      <div *ngIf="appState.selectedField$ | async as selectedField">
        <a mat-list-item [routerLink]="['/fieldOverview', selectedField]" routerLinkActive="active-link">
          Field Overview
        </a>
        <a mat-list-item routerLink="/wellProduction" routerLinkActive="active-link">
          Well Production
        </a>
        <a mat-list-item routerLink="/dirSurveys" routerLinkActive="active-link">
          Directional Surveys
        </a>
        <a mat-list-item routerLink="/wellConstruction" routerLinkActive="active-link">
          Well Construction
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
