:host ::ng-deep .main-sidenav .mat-mdc-list-item {
  background-color: #f5f5f5;
  margin: 4px 0;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
}

:host ::ng-deep .main-team-select {
  //background-color: #f5f5f5;
  width: 100%;
  margin: 4px 0;
  border-radius: 1px;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
}

/* Hover effect */
:host ::ng-deep .main-sidenav .mat-mdc-list-item:hover {
  background-color: #3ecc13;
}

/* Default text color */
:host ::ng-deep .main-sidenav .mat-mdc-list-item .mat-mdc-list-item-title,
:host ::ng-deep .main-sidenav .mat-mdc-list-item .list-text {
  color: #000000;
}

/* Active link background */
:host ::ng-deep .main-sidenav a.active-link.mat-mdc-list-item {
  background-color: #3f51b5;
}
:host ::ng-deep .tool a.active-link.mat-mdc-list-item {
  background-color: #3efa05;
}

/* Active link text color */
:host ::ng-deep .main-sidenav a.active-link.mat-mdc-list-item .mat-mdc-list-item-title,
:host ::ng-deep .main-sidenav a.active-link.mat-mdc-list-item .list-text {
  color: rgb(12, 12, 12) !important;
}

/* Layout */
.app-container {
  height: 100vh;
}

.app-sidenav {
  width: 220px;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-body {
  flex: 1;
  padding: 16px;
  background: #fafafa;
  overflow: auto;
}
