<app-header></app-header>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-form-field class="main-team-select">
      <mat-label>Asset Team</mat-label>
      <mat-select  [(ngModel)]="selectedTeam" name="team" (selectionChange)="onTeamSelect($event.value)">
        @for (team of teams; track team) {
          <mat-option [value]="team.asset_team_nm">{{team.asset_team_nm}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="main-field-select" *ngIf="selectedTeam">
      <mat-label>Field</mat-label>
      <mat-select  [(ngModel)]="selectedField" name="team">
        @for (field of fields; track field) {
          <mat-option [value]="field.field_nm">{{field.field_nm}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-nav-list class="main-sidenav tool">
      <a mat-list-item [routerLink]="['/teamOverview', selectedTeam]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="list-text">Team Overview</span>
      </a>
      <a mat-list-item routerLink="/wellProduction" routerLinkActive="active-link">
        <span class="list-text">Well Production</span>
      </a>
      <a mat-list-item routerLink="/fieldProduction" routerLinkActive="active-link">
        <span class="list-text">Field Production</span>
      </a>
      <a mat-list-item routerLink="/dirSurveys" routerLinkActive="active-link">
        <span class="list-text">Directional Surveys</span>
      </a>
      <a mat-list-item routerLink="/wellConstruction" routerLinkActive="active-link">
        <span class="list-text">Well Construction</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
