<app-header></app-header>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list class="main-sidenav">
      <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="list-text">Well Production</span>
      </a>
      <a mat-list-item routerLink="/fieldProduction" routerLinkActive="active-link">
        <span class="list-text">Field Production</span>
      </a>
      <a mat-list-item routerLink="/dirSurveys" routerLinkActive="active-link">
        <span class="list-text">Directional Surveys</span>
      </a>
      <a mat-list-item routerLink="/wellConstruction" routerLinkActive="active-link">
        <span class="list-text">Well Construction</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
