:host {
  display: block;
  width: 100%;
  height: 100%;
}

#plotContainer {
  width: 100%;
  height: 100%;
}

.plot-container-wrapper {
  position: relative;

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .plot-container {
    width: 100%;
    height: 100%;
    min-height: 300px; /* or whatever fits your tile */
  }
}



