/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-main {
    .mat-mdc-list-item {
        background-color: #fafcfa;
        margin-bottom: 5px;
    }
    .mat-mdc-list-item.active-link {
        background-color: #37f708;
        margin-bottom: 5px;
    }
    .mat-mdc-list-item:hover {
        background-color: #3aa71f;
        margin-bottom: 5px;
    }
}

app-field-summary {
    .flex-spacer {
        flex: 1 1 auto; /* This tells the element to grow and fill all available space */
    }
    
    .field-header {
        font-size: 40px;
    }

    .mat-toolbar {
        background-color: #d7d7d8;
        border: 1px solid #050505; 
        border-radius: 10px;
    }

    .mat-button-toggle-group {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #050505;
        transition: background-color 0.2s ease, color 0.2s ease;

        .mat-button-toggle-checked {
            background-color: limegreen !important;
            color: white !important;
            transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

            mat-icon {
                color: white;
            }
        }

        .mat-button-toggle {
            display: flex;
            align-items: center;
            padding: 0 0px;
            font-size: 18px;
            border: 1px solid #050505;
        }
    }
    
}

app-field-prod-plot,
app-field-prod-plot .chart-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

app-field-prod-plot canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}


