
.form-toolbar {
  margin-bottom: 20px; // adds space between the toolbar and grid
}

.prod-grid {
  // optional: add padding/margin around the whole grid
  margin: 0;
}

.mat-grid-tile > div {
  transition: height 0.3s ease;
}
