<mat-toolbar>
  <span>{{ appState.selectedField$ | async }}</span>
  <span class="spacer"></span>
  <mat-button-toggle-group>
    <mat-button-toggle *ngFor="let filter of filters" [value]="filter" (click)="toggleSelection(filter)">
      {{ filter }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<!-- Example of clickable field cards -->
<div class="field-cards">
  <div *ngFor="let field of ['FieldA','FieldB','FieldC']" (click)="selectField(field)">
    {{ field }}
  </div>
</div>
