
<form [formGroup]="filterForm">
    <mat-toolbar class="form-toolbar" @slideInFromLeft>
      <span class="field-header" *ngIf="appState.selectedField$ | async as selectedField">
        {{ selectedField | truncateAfterDash }}
      </span>
      <span class="flex-spacer"></span> 
      <span>&nbsp;</span> 
      
      <mat-button-toggle-group formControlName="selectedScale" aria-label="Scale selection">
        <mat-button-toggle *ngFor="let scale of scales" [value]="scale">
          {{ scale }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      
      <span>&nbsp;&nbsp;&nbsp;</span>
      
      <mat-button-toggle-group formControlName="selectedTimeFilter" aria-label="Filter selection">
        <mat-button-toggle *ngFor="let filter of filters" [value]="filter">
          {{ filter }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    
    </mat-toolbar>
</form>

<mat-grid-list cols="1" rowHeight="100px" gutterSize="10px">
  <mat-grid-tile [rowspan]="prodTileRowspan">
    <app-field-prod-plotly 
      dragmode="zoom" 
      (selectionChanged)="onSelectedPoints($event)" 
      [prod]="fieldProduction"></app-field-prod-plotly>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="hasValidStats" [rowspan]="statsTileRowspan">
    <app-field-statistics-table
      [stats]="regressionStats">
    </app-field-statistics-table>
  </mat-grid-tile>
</mat-grid-list>





