
<form [formGroup]="filterForm">
    <mat-toolbar @slideInFromLeft>
      <span>{{ appState.selectedField$ | async }}</span>
      <span class="flex-spacer"></span> 
      <mat-button-toggle-group formControlName="selectedTimeFilter" aria-label="Filter selection">
        <mat-button-toggle *ngFor="let filter of filters" [value]="filter">
          {{ filter }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>
</form>
<mat-grid-list cols="4" rowHeight="fit" gutterSize="16px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    
  </mat-grid-tile>
</mat-grid-list>

